area==1.1.1
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
click-plugins==1.1.1.2
cligj==0.7.2
fiona==1.10.1
geopandas==1.1.3
idna==3.13
numpy==2.2.6
opencv-python==4.13.0.92
packaging==26.2
pandas==2.3.3
progressbar2==4.5.0
pycoral @ https://github.com/hjonnala/snippets/raw/main/wheels/python3.10/pycoral-2.0.0-cp310-cp310-linux_x86_64.whl
pyogrio==0.12.1
pyproj==3.7.1
python-dateutil==2.9.0.post0
python-utils==3.9.1
pytz==2026.1.post1
requests==2.33.1
shapely==2.1.2
six==1.17.0
tenacity==9.1.4
tflite-runtime==2.14.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
